.navBar{
  
  background-image: url('/images/navBar.png');
  
  -webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.9);
  box-shadow: 2px 1 px 15 px 10px rgba(0,0,0,0.9);
  position:fixed;
  margin:0;
  top:0;
  left:0;
  padding-left:20px;
  padding-right:20px;
  width: 20%;
  height:100%;
  h1 { font-family: 'Righteous', cursive; }
  .page-links{  
    ul{
      list-style-type: none;
      padding-left: 10%;
      width: 80%;
      margin-left: 0;
      text-align: center;
    }
    .link{
     padding-top: 2%;
     padding-bottom: 2%;
     margin-top: 5%;
     -moz-transition: -moz-transform .1s;
     -webkit-transition: -webkit-transform .1s;
     -o-transition: -o-transform .1s;
     font-size: x-large;
     font-weight: bold;
     font-family: 'Righteous' , cursive;
     text-decoration: none;
	border:solid 2px #000000;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:0px;
    }
    .link:hover {
     transform: scale3d(1.1,1.1,1);
     -webkit-transform: scale3d(1.1, 1.1,1);
     -moz-transform: scale3d(1.1,1.1,1);
    }
    a { text-decoration:none; }
  }
  .ext-links{
    img {
     -moz-transition: -moz-transform .1s;
     -webkit-transition: -webkit-transform .1s;
     -o-transition: -o-transform .1s;
    }
    img:hover {
     transform: scale3d(1.1,1.1,1);
     -webkit-transform: scale3d(1.1, 1.1,1);
     -moz-transform: scale3d(1.1,1.1,1);
    }
  }
   
}
