.navBar{
  
  background-image: url('/images/background.png');
  z-index: 5; 
  -webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.9);
  box-shadow: 2px 1 px 15 px 10px rgba(0,0,0,0.9);
  position:fixed;
  top:0;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
  height: 120px;
  h1 { font-family: 'Righteous', cursive;  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .profile{
    position: fixed;
    padding-left: 5%;
    display: block; 
    top: 2%;
    font-size: 18px;
    width: 25%;
  } 
  .page-links{  
    margin-top: 5%;
    ul{
      list-style-type: none;
      padding-left: 5%;
      padding-right: 5%;
      text-align:center;
    }
    .link{
     opacity:0.7;
     width: 12%;
     padding-top: 1%;
     padding-bottom: 1%;
     -moz-transition: opacity .1s;
     -webkit-transition: opacity .1s;
     -o-transition: opacity .1s;
     font-size: x-large;
     font-weight: bold;
     font-family: 'Righteous' , cursive;
     text-decoration: none;
     border: hidden 1px #666;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
    }
    .link:hover {
      opacity: 1;
    }
    a {
      text-decoration:none;
      display:block;
    }
  }
  .ext-links{
    position: fixed;
    top: 2%;
    left: 55%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 30%;
    float:right;
    img {
     opacity:0.7;
     -moz-transition: opacity .1s;
     -webkit-transition: opacity .1s;
     -o-transition: opacity .1s;
    }
    img:hover {
      opacity: 1;
    }
  }
   
}
