.navBar{
  
  background-image: url('/images/navBar.png');
  z-index: 5; 
  -webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.9);
  box-shadow: 2px 1 px 15 px 10px rgba(0,0,0,0.9);
  position:fixed;
  margin:0;
  top:0;
  left:0;
  padding-left:20px;
  padding-right:20px;
  width: 20%;
  height:100%;
  h1 { font-family: 'Righteous', cursive;  }

  .profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
  } 
  .page-links{  
    ul{
      list-style-type: none;
      padding-left: 10%;
      width: 80%;
      margin-left: 0;
      text-align: center;
    }
    .link{
     opacity:0.7;
     padding-top: 2%;
     padding-bottom: 2%;
     margin-top: 5%;
     -moz-transition: opacity .1s;
     -webkit-transition: opacity .1s;
     -o-transition: opacity .1s;
     font-size: x-large;
     font-weight: bold;
     font-family: 'Righteous' , cursive;
     text-decoration: none;
     border: solid 1px #666;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
    }
    .link:hover {
      opacity: 1;
    }
    a {
      text-decoration:none;
      display:block;
    }
  }
  .ext-links{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    img {
     opacity:0.7;
     -moz-transition: opacity .1s;
     -webkit-transition: opacity .1s;
     -o-transition: opacity .1s;
    }
    img:hover {
      opacity: 1;
    }
  }
   
}
