.post{
	margin-left:5%;
	width: 80%;
	h1.title, .entry-content{
		@media screen and (max-width: 800px){
			margin-left: 0;
		}
	}
	.title {
		margin-left:2%;
	}
	.center{
	  margin-left:auto;
	  margin-right:auto;
	}
	.entry-content{
		p{text-align:justify;}
		margin-left:2%;
		width: 80%;
		line-height: 150%;
		img {
		  padding-top: 5px;
		  padding-bottom: 5px;
		}
		h2{
		  padding-top:5px;
		  padding-bottom:5px;
		}
	}
	.meta{
		width: 100%;
		top:0;
		position: absolute;
		right: 2px;
		font-size: 0.9em;
		color: $color-gray02;
		@media screen and (max-width: 800px){
			margin-top: 15px;
			position: static;
			width: auto;
		}
		a{
			@include link-colors($color-gray02, $color-gray01);
			@include transition(0.3s);
		}
		.date, .tags, .comments{
			padding-left: 30px;
			position: relative;
			@media screen and (max-width: 800px){
				@include inline-block;
				margin-right: 30px;
			}
		}
		.date{
			text-align: right;
			top: 5px;
			margin-right: 5%;
		}
		.comments{
			margin-left: 2%;
			position: absolute;
			top: 10px;
			padding-left: 5px;
		}
		.tags{
			text-align: right;
			position: absolute;
			top: 5px;
			width: 100%;
			margin-left: -20%;
		}
	}
}
