#banner{
  	font-family: 'Nunito', sans-serif;
	background-image: url('/blog/images/navBar.png');
	padding: 0 5;
	top: 65%;
	height:100%;
	width:20%;
	text-align: left;
	position: fixed;
	display: none;
	&:hover{
		a{
			color: $color-main;
		}
	}
	a{
		color: $color-gray02;
		@include transition(0.3s);
		&:hover{
			text-decoration: underline;
		}
	}
	small{
		position: relative;
		padding-top: 5px;
		left: 0;
		bottom: 0;
	}
	.loading{
		background: image-url('loading_pacman.gif') center no-repeat;
		text-indent: -9999px;
	}
	.container{
		height:70px;
		width: 290px;
		overflow: hidden;
		position: relative;
		display: none;
		.feed{
			list-style: none;
			position: absolute;
			top: 0;
			right: 1px;
			width: 100%;
			li{
				height: 70px;
				padding-right: 30px;
				position: relative;
				small{
					position: relative;
					left: 5px;
				}
			}
		}
	}
}
