#banner{
	margin-top: 5%;
	margin-left:auto;
	margin-right:auto;
  	font-family: 'Nunito', sans-serif;
	background-image: url('/images/navBar.png');
	padding: 0 5;
	height:100%;
	width:20%;
	text-align: left;
	position: fixed;
	display: none;
	a{
		color: $color-gray02;
	}
	.name{
		position: relative;
		top: 5px;
		left: 0;
		bottom: 0;
	}
	small{
		position: relative;
		padding-top: 5px;
		left: 0;
		bottom: 0;
	}
	.loading{
		background: image-url('loading_gray.gif') center no-repeat;
		text-indent: -9999px;
	}
	.container{
		border: 1px solid #666;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
        	border-radius: 10px;
		padding-bottom: 5px;
		height:11%;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: none;
		.feed{
			padding-top:5px;
			list-style: none;
			position: absolute;
			top: 0;
			right: 3px;
			width: 100%;
			li{
				height: 70px;
				padding-left: 10px;
			        margin-right: 10px;
				position: relative;
				small{
					position: relative;
					left: 5px;
					padding-left: 5px;
				}
			}
		}
	}
}
