<html>
<head>
	<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<br>
<center><h1>KSHITIJ SETHI</h1><br>
<img src="{{ root_url }}/images/profilePic.png" alt="Profile Picture"><br>
</center>
<br>
<center><div class="ext-links">
<a href="http://www.facebook.com/kjsethi/"><img src="{{root_url }}/images/social/facebook.png" alt="facebook" target="_blank" ></a>
<a href="http://www.twitter.com/kjsethi/"><img src="{{root_url }}/images/social/twitter.png" alt="twitter" target="_blank"></a>
<a href="http://ca.linkedin.com/pub/dir/Kshitij/Sethi/"><img src="{{root_url }}/images/social/linkedin.png" alt="linkedin" target="_blank"></a>
<a href="http://www.github.com/ksethi"><img src="{{root_url }}/images/social/github.png" alt="github" target="_blank"></a>
<a href="mailto:kj.sethi@gmail.com"><img src="{{root_url }}/images/social/email.png" alt="email"></a>
</div></center>
<br>
<div class="page-links">
<div id="resume" class="link"><a href="http://kjsethi.com/resume">RESUME</a></div>
<div id="about" class="link"><a href="http://kjsethi.com/about">ABOUT</a></div>
<div id"blog" class="link" style="text-align: center"><a href="http://kjsethi.com/">BLOG</a></div>
</div>
</html>
