<html>
<head>
	<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<center><h1>Kshitij Sethi</h1><br>
<img src="{{ root_url }}/images/profilePic.png" alt="Profile Picture"><br>
</center>
<br>
<div class="links">
<h2>
<div class="resume"><a href="http://kjsethi.com/resume">Resume</a></div>
<div class="about"><a href="http://kjsethi.com/about">About</a></div>
<div class="blog"><a href="http://kjsethi.com/">Blog</a></div>
</h2>
</div>
</html>
