<br>
<div class="profile">
<h1>KSHITIJ SETHI</h1><br>
<img src="{{ root_url }}/images/profilePic.png" alt="Profile Picture"><br>
</div>
<br>
<div class="ext-links">
<a href="http://www.facebook.com/kjsethi/"><img src="{{root_url }}/images/social/facebook.png" alt="facebook"></a>
<a href="http://www.twitter.com/kjsethi/"><img src="{{root_url }}/images/social/twitter.png" alt="twitter"></a>
<a href="http://ca.linkedin.com/pub/dir/Kshitij/Sethi/"><img src="{{root_url }}/images/social/linkedin.png" alt="linkedin"></a>
<a href="http://www.github.com/ksethi"><img src="{{root_url }}/images/social/github.png" alt="github"></a>
<a href="mailto:kj.sethi@gmail.com"><img src="{{root_url }}/images/social/email.png" alt="email"></a>
</div>
<br>
<div class="page-links">
<ul>
<li><div id="resume" class="link"><a href="http://kjsethi.com/resume" style="color:#666">RESUME</a></div></li>
<li><div id="about" class="link"><a href="http://kjsethi.com/about" style ="color:#666">ABOUT</a></div></li>
<li><div id="blog" class="link"><a href="http://kjsethi.com/" style="color:#666">BLOG</a></div></li>
</ul>
</div>

{% if site.twitter_user %}
<div id="banner" class="inner">
	<div class="container">
		<ul class="feed"></ul>
	</div>
	<small class="name"><a href="http://twitter.com/{{ site.twitter_user }}">{{ site.twitter_user }}</a> @ <a href="http://twitter.com">Twitter</a></small>
	<div class="loading">Loading...</div>
</div>
<script src="{{ root_url }}/javascripts/twitter.js"></script>
<script type="text/javascript">
	(function($){
		$('#banner').getTwitterFeed('{{ site.twitter_user }}', {{ site.twitter_tweet_count }}, {{ site.twitter_show_replies }});
	})(jQuery);
</script>
{% endif %}
